
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		font-size: 1.25rem;
	}

	a {
		@apply hover:text-secondaryColor-100;
	}

	p {
		padding-bottom: 1em;
	}

	pre {
		@apply mb-4;
		@apply p-3;
		@apply overflow-x-auto;
		@apply text-xs;
	}

	/* code blocks in posts */
	pre[class^="language-"] {
		@apply rounded-lg;
	}

	/* code blocks in posts */
	:not(pre) > code {
		@apply bg-neutral-100/10;
		@apply text-primaryColor-100;
		@apply rounded;
		@apply px-1;
	}

	h1, h2, h3, h4, h5, h6 {
		@apply font-mono;
		@apply mx-auto;
	}

	h2, h3, h4, h5, h6 {
		@apply max-w-md;
	}

	div ul,
	div ol {
		padding-bottom: 1.5em;
		@apply pl-4;
		@apply list-outside;
	}

	article p img {
		width: 100%;
		height: auto;
	}

	/* post titles */
	h1,
	article h1 {
		@apply mb-6;
		@apply text-5xl;
		@apply mx-auto;
	}

	article h2 {
		@apply mb-5;
		@apply text-4xl;
		@apply mx-auto;
	}

	article h3 {
		@apply mb-4;
		@apply text-3xl;
		@apply mx-auto;
	}

	article h4 {
		@apply mb-3;
		@apply text-2xl;
		@apply mx-auto;
	}

	article h5 {
		@apply mb-2;
		@apply text-xl;
		@apply max-w-md;
		@apply mx-auto;
	}

	article h6 {
		@apply mb-1;
		@apply text-lg;
		@apply max-w-md;
		@apply mx-auto;
	}

	article a {
		@apply underline;
		@apply decoration-dotted;
		@apply hover:decoration-secondaryColor-100;
	}

	a code {
		@apply hover:text-secondaryColor-100;
		@apply hover:decoration-secondaryColor-100;
	}

	article p {
		@apply max-w-md;
		@apply mx-auto;
	}

	article ol,
	article ul {
		@apply max-w-[26.5rem];
		@apply mx-auto;
		@apply list-outside;
	}

	article ul {
		@apply list-disc;
	}

	article ol {
		@apply list-decimal;
	}

	aside p {
		@apply p-0;
		@apply clear-both;
	}
}
