{% import "macros.html" as macros %}
<!DOCTYPE html>
<html lang={{ config.default_language }}>
	<head>
    {% set meta_keywords = config.extra.keywords %}
    {% set meta_author = config.extra.author %}

    {% if page %}
    {% set meta_title = page.title ~ ' - ' ~ config.title %}
    {% set meta_description = page.description %}
    {% if page.extra.static_image_path %}
    {% set img_path = page.extra.static_image_path %}
    {% endif %}

    {% if page.extra.keywords %}
    {% set meta_keywords = meta_keywords | concat(with=page.extra.keywords) %}
    {% endif %}
    {% else %}
    {% set meta_title = config.title %}
    {% set meta_description = config.description %}
    {% endif %}

    <title>{{ meta_title }}</title>

    <!-- Meta Tags -->
    <meta charset="utf-8" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<!-- theme -->
		<meta name="theme-color" content="rgb(47 37 61 / var(--tw-bg-opacity))" />
		{{ macros::render_icons() }}
    <meta name="title" content="{{ meta_title }}" />
    <meta name="description" content="{{ meta_description }}" />
    <meta name="keywords" content="{{ meta_keywords | join(sep=', ') }}" />
    <!-- Open Graph Protocol -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ current_url }}" />
    <meta property="og:title" content="{{ meta_title }}" />
    <meta property="og:description" content="{{ meta_description }}" />
		{# <meta property="og:image" content="{{get_url(path=img_path,cachebust=true)}}" /> #}

    <link rel="alternate" type="application/rss+xml" title="RSS feed" href="{{ config.base_url | safe }}/rss.xml" />

		<link href="{{ get_url(path='styles/main.css', cachebust=true) }}" rel="stylesheet" type="text/css" />
	</head>

	<body class="bg-backgroundColor text-textColor max-w-4xl mx-auto font-sans font-light">
		{{ macros::render_header() }}
		<div class="mx-auto px-2">
				{% block content %} {% endblock %}
		</div>
		<footer id="social" class="my-5 p-2 text-xs font-mono border-t-[1px] border-orange-300 border-dashed text-center">
			<div id="social text-s m-4">
				<a class="hover:underline" href="https://twitter.com/mbaltrusitis" target="_blank">twitter</a>
				<span class="text-orange-300"> :: </span>
				<a class="hover:underline" href="https://gitlab.com/mbaltrusitis" target="_blank">git</a>
				<span class="text-orange-300"> :: </span>
				<a class="hover:underline" href="https://linkedin.com/mbaltrusitis" target="_blank">linkedin</a>
			</div>
			<div id="license" class="my-1">
				<a class="hover:underline" href="https://creativecommons.org/licenses/by/4.0" target="_blank">cc by 4.0</a>
			</div>
		</footer>
		{% if config.build_search_index %}
		<script type="text/javascript" src="{{ get_url(path="elasticlunr.min.js") }}"></script>
		<script type="text/javascript" src="{{ get_url(path="search_index.en.js") }}"></script>
		<script type="text/javascript" src="{{ get_url(path="search.js") }}"></script>
		{% endif %}
	</body>
	<script data-goatcounter="https://notmatthew.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>
</html>
