{% extends "base.html" %}

{% block content %}

<article class="mx-auto max-w-2xl">
	<h1 id="post-title" class="my-4 lowercase font-mono">
		{{ page.title }}
	</h1>
	<div id="reading-time" class="text-s font-mono">{{ page.date | date(format="%Y.%m.%d")}} :: {{ page.reading_time }} min.</div>
	<div id="tags" class="text-xs font-mono">
		{% if page.taxonomies %}
			{%for tag in page.taxonomies.tags%}
					<a href="/tags/{{tag}}">{{tag}}</a>{% if not loop.last %},{% endif %}
			{% endfor %}
		{% endif %}
	</div>

	<div class="border-x-[10px] border-t-[1px] border-dashed mt-4 mb-[2px]"></div>
	<div class="border-x-[10px] border-b-[1px] border-dashed mb-4"></div>

	<div id="post-content" class="mx-auto max-w-prose leading-relaxed">
		{{ page.content | safe }}
	</div>
</article>

{% endblock content %}
