{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block content %}

	<!-- Content Dash begin -->
	<div id="content-dash" class="w-1/2 mx-auto">
		<!-- Blog begin -->
		<div>
			<h2 class="font-mono text-xl border-b-[1px] border-orange-300 border-dashed mb-2">blog.</h2>
				{{ macros::get_top_n_of_section(section_path="post/_index.md", top_n=5) }}
		<!-- Blog final -->
		</div>
	<!-- Content dash final -->
	</div>

{% endblock content %}