{% macro get_top_n_of_section(section_path, top_n) %}
	{% set section_item = get_section(path=section_path) %}
	<ul class="list-disc list-outside pl-4">
	{% for i in range(end=top_n) %}
		{% if i < section_item.pages | length %}
		<li class="my-1">
			<a href="{{ section_item.pages[i].permalink }}">
					{{ section_item.pages[i].title }}
			</a>
		</li>
		{% endif %}
	{% endfor %}
	</ul>
{% endmacro get_top_n_of_section %}

{% macro render_header(active_section="") %}
	{% set active_navbar_item_style = "underline" %}
	{% set inactive_navbar_item_style = "hover:underline" %}

	<header class="mb-6">
		<h1 class="mx-auto text-7xl sm:text-8xl text-center font-sans tracking-tighter"><a href="{{ get_url(path="/", trailing_slash=false) }}"><span class="text-secondaryColor-100">!</span>matthew</a></h1>
		<nav class="text-center font-mono tracking-wide mx-auto w-1/2 border-black text-xl flex flex-col sm:flex-row gap-4 items-center content-center justify-around h-100">
		{% if config.extra.navbar_paths  %}
			{% for ttitle, path in config.extra.navbar_paths %}
				{# Highlighting Current Page/Section in Navigation Bar:
				   If a page or section's *.extra.active_key matches the title in the navbar
				   the <a> tag will be styled as underlined, otherwise it is only underlined
				   on a :hover.

					 If no *.extra.active_key is provided, no special styling is performed.
				#}
				{% if page.extra.active_key and page.extra.active_key == ttitle %}
				<a class={{ active_navbar_item_style}} href="{{ get_url(path=path, trailing_slash=false) }}" >{{ ttitle }}</a>
				{% elif section.extra.active_key and section.extra.active_key == ttitle %}
					<a class={{ active_navbar_item_style}} href="{{ get_url(path=path, trailing_slash=false) }}" >{{ ttitle }}</a>
				{% else %}
				<a class={{ inactive_navbar_item_style }} href="{{ get_url(path=path, trailing_slash=false) }}" >{{ ttitle }}</a>
				{% endif %}
			{% endfor %}
		{% endif %}
		</nav>
	</header>
{% endmacro render_header %}

{% macro render_icons() %}
	{# best practice :: https://evilmartians.com/chronicles/how-to-favicon-in-2021-six-files-that-fit-most-needs #}
	<link rel="icon" href="/favicon.ico" sizes="any">
	<link rel="icon" href="/icon.svg" type="image/svg+xml">
	<link rel="apple-touch-icon" href="/apple-touch-icon.png">
	<link rel="manifest" href="/manifest.webmanifest">
{% endmacro render_icons %}