{% extends 'base.html' %}

{% block content %}

<article class="mx-auto max-w-2xl">
		<h1 id="post-title" class="text-5xl my-4">
			{{ page.title }}
		</h1>

	<div class="border-x-[10px] border-t-[1px] border-dashed mt-4 mb-[2px]"></div>
	<div class="border-x-[10px] border-b-[1px] border-dashed mb-4"></div>

		<div id="content" class="mx-auto max-w-prose leadingg-relaxed">
			{{ page.content | safe }}
		</div>
</article>

{% endblock content %}
