{% extends 'base.html' %}

{% block content %}
	<div class="mx-auto max-w-prose leading-relaxed">
		<h1 class="text-3xl my-4 lowercase font-mono">
			{{ page.title }}
		</h1>
			{{ page.content | safe }}
	</div>
{% endblock content %}
