{% if nth is even %}
	{% set float_side = `left` %}
{% else %}
	{% set float_side = `right` %}
{% endif %}
<aside id="aside-{{ nth }}" class="w-1/2 m-2 float-{{ float_side }} p-4 rounded-lg bg-neutral-100/10">
	<div class="font-medium border-b mb-1.25 border-b-[3px] border-double border-b-primaryColor-100">{{ title | default(value="note")}} ::</div>
	{{ body | markdown | safe }}
</aside>
