<div class="source-link text-right pr-2">
	<!-- <small><a href={{url}}>source.<span class="no-underline inline-block pl-1">🔗⬈</span></a></small> -->
	<small><a href={{url}}>source 🡭</a></small>
</div>