{% extends "base.html" %}

{% block content %}

<div class="mx-auto max-w-2xl">
	<h1 class="my-2">
		{{ taxonomy.name }}
	</h1>
	<div class="border-x-[10px] border-t-[1px] border-orange-300 border-dashed my-4"></div>
	<ul class="text-xl">
		{% for term in terms %}
		<li>
			<a href="{{ term.permalink | safe }}">
				#&hairsp;{{ term.name }}
			</a>
		</li>
		{% endfor %}
	</ul>
</div>
{% endblock content %}
