{% extends "base.html" %}

{% block content %}

<div class="mx-auto max-w-2xl">
	<h1 class="my-2">
		<a href=" {{ term.permalink }}">#&hairsp;{{ term.name }}</a>
	</h1>


	<div class="border-x-[10px] border-t-[1px] border-orange-300 border-dashed my-4"></div>
	<ul class="text-lg list-disc text-lg">
			{% for page in term.pages %}
		<a href="{{ page.permalink | safe }}">
			<li class="text-xl flex justify-between mb-2">
				<div id="post-title" class="flex-auto basis-5/6 text-left grow">
					{{page.title}}
				</div>
				<div class="flex-auto basis-1/6 text-right grow">
					{{ page.date | date(format="%Y.%m.%d") }}
				</div>
			</li>
		</a>
			{% endfor %}
	</ul>
</div>
{% endblock content %}
